<footer class="footer">
  <div class="container-fluid">
    <div class="copyright">
      ©
      2021 - 2021 Feito por<i class="tim-icons icon-heart-2"></i>
      <a href="javascript:void(0)" target="_blank">IADA</a> para uma mundo melhor.
    </div>
  </div>
</footer>