<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-normal link_menu" style="margin-left: 0px!important;">
        <i class="s mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
        <label class="title_menu">Home</label>
      </a>
    </div>
    <ul class="nav">
      <!-- class="active -->
      <li >
        <a href="./dashboard.html" class="link_menu">
          <i class="mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">Relatorios</p>
        </a>
      </li>
      <li>
        <a href="./icons.html" class="link_menu">
          <i class="mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">Icons</p>
        </a>
      </li>
      <li>
        <a href="./map.html" class="link_menu">
          <i class="mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">Maps</p>
        </a>
      </li>
      <li>
        <a href="./notifications.html" class="link_menu">
          <i class="mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">Notifications</p>
        </a>
      </li>
      <li>
        <a href="./user.html" class="link_menu">
          <i class="mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">User Profile</p>
        </a>
      </li>
      <li>
        <a href="./tables.html" class="link_menu">
          <i class="mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">Table List</p>
        </a>
      </li>
      <li>
        <a href="./typography.html" class="link_menu">
          <i class="mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">Typography</p>
        </a>
      </li>
      <li>
        <a href="./rtl.html" class="link_menu">
          <i class="mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">RTL Support</p>
        </a>
      </li>
      <li class="active-pro">
        <a href="./upgrade.html" class="link_menu">
          <i class="mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">Upgrade to PRO</p>
        </a>
      </li>
    </ul>
  </div>
</div>
