<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="/" class="simple-text logo-normal link_menu" style="margin-left: 0px!important;">
        <i class="s mdi mdi-home mdi-24px" style="margin-right: 10px;"></i>
        <label class="title_menu">Home</label>
      </a>
    </div>
    <ul class="nav">
      <li class="active-pro">
        <a href="/imports/new" class="link_menu">
          <i class="mdi mdi-application-import mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">Import. de Dados</p>
        </a>
      </li>


      <li class="active-pro">
        <%= link_to sidekiq_web_path, class:"link_menu" do %>
          <i class="mdi mdi-database-import mdi-24px" style="margin-right: 10px;"></i>
          <p class="title_menu">Sidekiq</p>
        <% end %>
      </li>

    </ul>
  </div>
</div>
