<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="acao_check_menu" style="margin-right:15px;">
        <input type="checkbox" id="check_menu">
        <label for="check_menu" style="margin: 0;display:none" id='check_label'></label>
      </div>
      <div class="navbar-toggle d-inline">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)" style="position: absolute!important;margin-left: 40px;" onclick="$('#check_label').click()">Dashboard</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="search-bar input-group">
          <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
            <span class="d-lg-none d-md-block">Search</span>
          </button>
        </li> -->
        <li class="dropdown nav-item">
          <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <div class="notification d-none d-lg-block d-xl-block"></div>
            <p >
              Notifications
            </p>
          </a>
          <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
            <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
            <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
            <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
            <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
            <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
          </ul>
        </li>
        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <div class="photo">
              <img src="<%= asset_path 'avatar-1.jpg' %>" alt="" height="58">
            </div>
            <b class="caret d-none d-lg-block d-xl-block"></b>
            <p class="d-lg-none">
              Log out
            </p>
          </a>
          <ul class="dropdown-menu dropdown-navbar">
            <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Perfil</a></li>
            <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Configuraçōes</a></li>
            <li class="dropdown-divider"></li>
            <li class="nav-link">
              <%= link_to "Sair", destroy_user_session_path, method: "delete", class:"nav-item dropdown-item" %>
            </li>
          </ul>
        </li>
        <li class="separator d-lg-none"></li>
      </ul>
    </div>
  </div>
</nav>
<div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var $html = $('html');
  var $body = $('body');

  $(document).on('click', '.navbar-toggle', function() {
    var $toggle = $(this);

    if (blackDashboard.misc.navbar_menu_visible == 1) {
      $html.removeClass('nav-open');
      blackDashboard.misc.navbar_menu_visible = 0;
      setTimeout(function() {
        $toggle.removeClass('toggled');
        $('.bodyClick').remove();
      }, 550);

    } else {
      setTimeout(function() {
        $toggle.addClass('toggled');
      }, 580);

      var div = '<div class="bodyClick"></div>';
      $(div).appendTo('body').click(function() {
        $html.removeClass('nav-open');
        blackDashboard.misc.navbar_menu_visible = 0;
        setTimeout(function() {
          $toggle.removeClass('toggled');
          $('.bodyClick').remove();
        }, 550);
      });

      $html.addClass('nav-open');
      blackDashboard.misc.navbar_menu_visible = 1;
    }
  });

  blackDashboard = {
    misc: {
      navbar_menu_visible: 0
    },

    initMinimizeSidebar: function() {
      if ($('.sidebar-mini').length != 0) {
        sidebar_mini_active = true;
      }

      $('#minimizeSidebar').click(function() {
        var $btn = $(this);

        if (sidebar_mini_active == true) {
          $('body').removeClass('sidebar-mini');
          sidebar_mini_active = false;
          blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
        } else {
          $('body').addClass('sidebar-mini');
          sidebar_mini_active = true;
          blackDashboard.showSidebarMessage('Sidebar mini activated...');
        }

        // we simulate the window Resize so the charts will get updated in realtime.
        var simulateWindowResize = setInterval(function() {
          window.dispatchEvent(new Event('resize'));
        }, 180);

        // we stop the simulation of Window Resize after the animations are completed
        setTimeout(function() {
          clearInterval(simulateWindowResize);
        }, 1000);
      });
    },

    showSidebarMessage: function(message) {
      try {
        $.notify({
          icon: "tim-icons ui-1_bell-53",
          message: message
        }, {
          type: 'info',
          timer: 4000,
          placement: {
            from: 'top',
            align: 'right'
          }
        });
      } catch (e) {
        console.log('Notify library is missing, please make sure you have the notifications library added.');
      }

    }

  };

  const checkbox = document.getElementById('check_menu')

  checkbox.addEventListener('change', (event) => {
    var title_men = document.getElementsByClassName("title_menu")
    if (event.currentTarget.checked) {
      document.getElementsByClassName("sidebar")[0].setAttribute("class", "sidebar sidebar_sizer");
      document.getElementsByClassName("content")[0].setAttribute("style", "padding-left: 100px!important;");
      for (var i = 0; i < title_men.length; i++) {
        title_men[i].setAttribute("class", "title_menu title_display_menu")
      }
    } else {
      document.getElementsByClassName("sidebar")[0].setAttribute("class", "sidebar");
      document.getElementsByClassName("content")[0].setAttribute("style", "");
      for (var i = 0; i < title_men.length; i++) {
        title_men[i].setAttribute("class", "title_menu")
      }
    }
  })


</script>
