<div class="wrapper">
  <%= render "layouts/menu_lateral" %>
  <div class="main-panel">
    <%= render "layouts/navbar" %>
    <div class="content">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </div>
</div>
